---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const corporates = await getCollection('corporates');
const corporatesContent = await Promise.all(
  corporates.map(async (corporate) => {
    const { Content } = await corporate.render();
    return {
      ...corporate,
      Content,
    };
  })
);

// Sort by section number
const sortedCorporates = corporatesContent.sort(
  (a, b) => Number(a.data.section) - Number(b.data.section)
);

---

<Layout title="Triforce Quartet" main="services">
  <section id="hero">
    <h2>
      <span>Elevating Corporate <br />Events with Music <br />That Inspires</span>
    </h2>
    <figure>
      <img src="/img/corporates.jpg" />
    </figure>
    <h4>Professional Musicianship. Unforgettable Experiences.</h4>
    <p>When it comes to corporate events, the right music does more than fill the air, it sets the tone, creates connections, and leaves a lasting impression.</p>
    <p>
      Triforce Quartet is a professional string quartet known for our versatility, precision, and dynamic performances. Our repertoire blends timeless classical music with fresh, crowd-pleasing arrangements of video game, film, and pop soundtracks, making us the perfect choice for events that want sophistication with a modern edge.
    </p>
    <button class="cta" data-contact-dialog>Reserve your date</button>
  </section>
	<!-- <Welcome /> -->
    {sortedCorporates.map((corporate) => (
        <Section title={corporate.data.title}>
            <corporate.Content />
        </Section>
    ))}

</Layout>
