---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const otherservices = await getCollection('otherservices');
const otherservicesContent = await Promise.all(
  otherservices.map(async (otherservice) => {
    const { Content } = await otherservice.render();
    return {
      ...otherservice,
      Content,
    };
  })
);

// Sort by section number
const sortedotherservices = otherservicesContent.sort(
  (a, b) => Number(a.data.section) - Number(b.data.section)
);

---

<Layout title="Triforce Quartet" main="services">
  <section id="hero">
    <h2>
      Triforce Quartet
      <span>levels up</span>
      video game music
    </h2>
    <figure>
      <img src="/img/hero.jpg" />
    </figure>
    <h4>Custom Performances for Any Occasion</h4>
    <p>Not every performance fits neatly into a category. Maybe you’re planning a private surprise for a loved one, hosting a themed dinner, producing a live-streamed event, or curating music for an art opening. Whatever your idea, Triforce Quartet can help bring it to life with a performance designed just for you.</p>
    <p>With our versatile repertoire, spanning classical masterpieces, cinematic themes, and video game soundtracks, coupled with our experience performing everywhere from concert halls to unconventional venues, we’re ready to make your unique vision a reality.</p>
    <a href="#" class="cta">Reserve your date</a>
  </section>
	<!-- <Welcome /> -->
    {sortedotherservices.map((otherservice) => (
        <Section title={otherservice.data.title}>
            <otherservice.Content />
        </Section>
    ))}

</Layout>
