---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const schools = await getCollection('schools');
const schoolsContent = await Promise.all(
  schools.map(async (school) => {
    const { Content } = await school.render();
    return {
      ...school,
      Content,
    };
  })
);

// Sort by section number
const sortedSchools = schoolsContent.sort(
  (a, b) => Number(a.data.section) - Number(b.data.section)
);

---

<Layout title="Triforce Quartet" main="services">
  <section id="hero">
    <h2>
      Triforce Quartet
      <span>levels up</span>
      video game music
    </h2>
    <figure>
      <img src="/img/hero.jpg" />
    </figure>
    <h4>Live Music Programs for Schools, Camps, and Youth Events</h4>
    <p>Music has the power to spark curiosity, build confidence, and connect people across backgrounds and interests. At Triforce Quartet, we bring that power directly to students. We blend classical performance with fun, relatable music from video games, film, and pop culture to create experiences that educate and inspire.</p>
    <p>Triforce Quartet’s has a unique way of making music educational, engaging, and exciting for young musicians-in-training, gamers, or just curious kids. We like to bring our humility, humor, and relatability to our teaching. Some of our members are professional music instructors with a refined skill to engage student learners and make string instruments cool again.</p>
    <p>Whether you’re looking for a one-time concert, an interactive workshop, or a full music enrichment program, we work with educators and program directors to design events that fit your goals and engage your audience. </p>
    <a href="#" class="cta">Reserve your date</a>
  </section>
	<!-- <Welcome /> -->
    {sortedSchools.map((school) => (
        <Section title={school.data.title}>
            <school.Content />
        </Section>
    ))}

</Layout>
