---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const weddings = await getCollection('weddings');
const weddingsContent = await Promise.all(
  weddings.map(async (wedding) => {
    const { Content } = await wedding.render();
    return {
      ...wedding,
      Content,
    };
  })
);

// Sort by section number
const sortedWeddings = weddingsContent.sort(
  (a, b) => Number(a.data.section) - Number(b.data.section)
);

---

<Layout title="Triforce Quartet" main="services">
  <section id="hero">
    <h2>
      <span>A Wedding <br />Soundtrack That’s <br />Uniquely You</span>
    </h2>
    <figure>
      <img src="/img/hero.jpg" />
    </figure>
    <!-- <h4>A Wedding Soundtrack That’s Uniquely You</h4> -->
    <p>Your love story is one of a kind, and your wedding music should be, too. With Triforce Quartet, we believe the right music doesn’t just set the tone for your day but also becomes part of the lasting memories you and your guests take with them.</p>
    <p>We are a professional string quartet offering both timeless classical pieces and deeply emotional arrangements of video game soundtracks, carefully curated to reflect your relationship, your story, and your shared joy. With years of experience performing at weddings, fan conventions, and concert halls across the country, we bring sophistication, emotion, and personality to every performance.</p>
    <button class="cta" data-contact-dialog>Reserve your date</button>
  </section>
	<!-- <Welcome /> -->
    {sortedWeddings.map((wedding) => (
        <Section title={wedding.data.title}>
            <wedding.Content />
        </Section>
    ))}

</Layout>
