---
const { title, id } = Astro.props;
---

<section id={id}>
    <!-- <img src="/img/tq.svg" alt="Triforce Quartet logo" class="section-icon"/> -->
    <h2 tabindex="-1">{title}</h2>
    <slot />
</section>